/************************************************************
                Order Card Style Start
*************************************************************/
.order_form_wrap {
    background: #0e0b16;
    margin-bottom: 20px;
    
    .order_form_head {
        background: #24212c;
        padding: 20px;
    }
    .order_form_body {
        padding: 20px;
        position: relative;
        display: none;
    }
}
/************************************************************
                Order Card Style End
*************************************************************/