$base_fontsize: 17px;

$orange: #f26824;
$black: #000000;
$white: #ffffff;
$coal: #0c0c0f;

$grey: #5e5e5f;
$lightGrey: #9ea1a6;

$dark_blue: #0e0b16;

$dark_pink : #9e0039;


$query1199: "(max-width: 1199px)";
$query991: "(max-width: 991px)";
$query900: "(max-width: 900px)";
$query767: "(max-width: 767px)";
$query600: "(max-width: 600px)";
$query576: "(max-width: 576px)";
$query479: "(max-width: 479px)";
$query400: "(max-width: 400px)";

$querymin768: "(min-width: 768px)";
$querymin992: "(min-width: 992px)";
$querymin992_1199: "(min-width: 992px) AND (max-width: 1199px) ";
